# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:vinhlh@localhost:3306/nestjs?schema=public"

JWT_SECRET="Tn8#Pz9v@c!RbL1$Wq6^HdY3zXs*MfJ2"
JWT_REFRESH_SECRET="Wv3#Kp8!Mz@R1xC$Tf6^LdB9gZs*NqJ4"
JWT_EXPIRATION_TIME=1h
JWT_REFRESH_EXPIRATION_TIME=7d

NODE_ENV=development

APP_URL="http://localhost:3001"
APP_NAME=Maxima

# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=
MAIL_SECURE=true
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
FRONTEND_URL=http://localhost:3000
